~$nLIGHT_Er80-8_125-PM_simulated_GVD_dispersion.xlsx
~$nLIGHT_Er110-4_125-PM_simulated_GVD_dispersion.xlsx
__pycache__/
*.DS_Store
~$memo.pptx
.spyproject/
ipython_notebooks/.ipynb_checkpoints/
fig/
sim_output/11-03-2023_0.75Pfwd_1.5Pbck_pre-chirp_sweep/
sim_output/11-03-2023_1.5Pfwd_1.5Pbck_pre-chirp_sweep/
sim_output/20231012-200MHz-beforepreamp-withsplitter/
sim_output
.ipynb_checkpoints/
.virtual_documents/